* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;  
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.calculator{
   max-width: 600px;
   width: 100%;
   margin-left: 15%; 
}

.calculator h1{
   font-size: 2.1vw;
   border-left:5px solid #673ab7;
   padding-left: 2vw;
}

.calculator h1 span{
   font-size: 3.8vw;
   background: linear-gradient(45deg, #E91E63, #f06292, #ba68c8, #d1c4e9);
   background-clip: text;
   color: transparent;
   display: block;
   padding-top: 0.2vw;
}

#inputBox{
   margin: 2.2vw 0 2vw;
   margin-bottom: 2vw;
   padding: 2vw 2.2vw ;
   background: rgb(17, 0, 32);
   border-radius: 10px;
   position: relative;
   display: flex;
}

#inputBox label{
   position: absolute;
   top: 0.5vw;
   font-weight: 600;
   font-size: 0.85vw;
}

#inputBox input{
   flex: 1;
   margin-right: 1vw;
   padding: 0.8vw 1vw;
   border: 0;
   outline: 0;
   border-radius: 5px;
   font-size: 1.1vw;
   font-weight: 500;
   position: relative;
   background: linear-gradient(45deg, #9c27b0, #673ab7, #009687 75%, #fff 75%);
   color: #fff;

}

#inputBox button{
   padding: 1vw 2vw;
   outline: 0;
   border: 0;
   border-radius: 5px;
   font-size: 1vw;
   font-weight: 600;
   cursor: pointer;
   background-color: #ffe500;
}

#inputBox input::-webkit-calender-picker-indicator{
   position: absolute;
   left: 0;
   right: 0;
   width: auto;
   background-position: calc(100% - 20px);
   background-size: 1.2vw;
   cursor: pointer;
}

#resultDisplay{
   font-size: 1.25vw;
}

#resultDisplay span{
   color: #ffe500;
   font-weight: 500;
}
