@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

html,
body {
    min-height: 100vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator {
    border: 1px solid #717377;
    padding: 1.2vw;
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}
input {
    width: 25vw;
    border: none;
    padding: 2vw;
    background: transparent;
    cursor: pointer;
    font-size: 4.5vw;
    text-align: right;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    background-color: #0a0a0a2a;
    outline: none;
    color: #fff;
}
input::placeholder{
   color: #fff;
}
button {
    height: 4vw;
    width: 4vw;
    margin: 1.1vw;
    border-radius: 50%;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.4vw;
    font-weight: 700;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
button:hover{
   background-color: #4e4c4cae;
}
.equalBtn{
   background-color: #fb7c14;
}
.equalBtn:hover{
   background-color: #e86e0a;
}
.operatorBtn{
   color: #6dee0a;
}