@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  overflow-y: hidden;
}

nav{
   height: 3.4vw;
   width: 100%;
   background-color: #000;
   font-family: "Ubuntu", sans-serif;
   color: #fff;
   display: flex;
   align-items: center;

}
.brand{
   display: flex;
   align-items: center;
   font-size: 1.3vw;
   font-weight: 600;
   padding: 0 1vw;
   gap: 0.5vw;
}
.brand img{
   object-fit: contain;
   height: fit-content;
   width: 2.8vw;
   background-color: #fff;
}
ul{
   display: flex;
   align-items: center; 
   /* background-color: orange; */
}
ul li{
   padding-right: 0.5vw;
   padding-left: 2vw;
   list-style: none;
   font-size: 0.85vw;
   font-weight: 400;
}

.container{
   min-height: 79vh;
   width: 70%;
   font-family: "Varela-round", sans-serif;
   color: #fff;
   background-color: #000;
   display: flex;
   margin:  1.2vh auto;
   border-radius: 10px;
   padding: 1.4vw;
   font-size: 0.85vw;
   background-image: url('https://c4.wallpaperflare.com/wallpaper/486/610/323/headphones-women-music-headphones-girl-monochrome-black-background-1920x1080-entertainment-music-hd-art-wallpaper-preview.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}


.bottom{
   height: 5vw;
   width: 100%;
   position: sticky;
   bottom: 0;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #fff;
}
#myProgressBar{
   width: 75vw;
}
#icons i{
   font-size: 1.6vw;
   padding-left: 0.7vw;
   padding-right: 2.1vw;
   padding-top: 0.7vw;
   cursor: pointer;
   /* background-color: red; */
}